
<div class="c-ts-test{{#if settings.tsTestContextClass}}--{{settings.tsTestContextClass}}{{else}}--default{{/if}}{{#if settings.tsTestClasses}} {{settings.tsTestClasses}}{{/if}}"
     data-css="c-ts-test"
     data-js-module="ts-test"{{#if settings.tsTestJsOptions}}
     data-js-options='{{stringify settings.tsTestJsOptions}}'{{/if}}>
     ts-test
     
</div>
